$dark-blue: #192d74
$orange: #f3792e
$blue: #263d8b

@font-face
	font-family: Roboto
	src: url(../fonts/Roboto-Regular.ttf) format("truetype")

@font-face
	font-family: "Myriad Pro"
	src: url(../fonts/MyriadPro-Regular.otf) format("truetype")

@font-face
	font-family: Roboto
	src: url(../fonts/Roboto-Medium.ttf) format("opentype")
	font-weight: 500

@font-face
	font-family: Roboto
	src: url(../fonts/Roboto-Thin.ttf) format("truetype")
	font-weight: 100

@font-face
	font-family: Roboto
	src: url(../fonts/Roboto-LightItalic.ttf) format("truetype")
	font-weight: 300
	font-style: italic


@font-face
	font-family: Roboto
	src: url(../fonts/Roboto-Light.ttf) format("truetype")
	font-weight: 300


body
	font-family: Roboto, Arial, sans-serif
	color: #333
	background-color: #e3e3e3

html.no-scroll
	overflow: hidden
	width: 100%
	height: 100%
	body
		overflow: hidden
		width: 100%
		height: 100%

label
	font-weight: normal

*
	outline: none

a, button
	transition-duration: .2s

.wrapper
	background-color: #fff
	display: flex
	width: 1190px
	margin-left: auto
	margin-right: auto
.center-block
	width: 780px
	padding-left: 18px
	padding-right: 18px
	border-right: 1px solid #e3e3e3
	padding-bottom: 20px
.left-block
	width: 206px
	border-right: 1px solid #e3e3e3
	padding-bottom: 20px
.right-block
	width: 206px
	padding-bottom: 20px

.main-forms
	margin-left: -25px
	&-container
		padding-left: 25px
		width: 50%
		float: left

.group-right
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	align-content: flex-start

@import "components/header-with-user"
@import "components/menu"
@import "components/interesting"
@import "components/form-registration"
@import "components/events-aside"
@import "components/new-users"
@import "components/my-interest"
@import "components/main-feed"
@import "components/user_page_info"
@import "components/user_menu"
@import "components/friends_list"
@import "components/friends_filter"
@import "components/aside_news"
@import "components/edit"
@import "components/group"
@import "components/ads"
@import "components/events"
@import "components/interests"