.friends-filter.ads-filter
	.friends-filter-item
		.friends-filter__caption Цена
		.friends-filter-age
			label.friends-filter-age__label
				input.friends-filter-age__input(placeholder="от")
			label.friends-filter-age__label
				input.friends-filter-age__input(placeholder="до")
	.friends-filter-item
		.friends-filter__caption Размер
		.friends-filter-sex
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Маленькая
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Средняя
			label.friends-filter__checkbox
				input(type="checkbox"  checked="checked").hidden
				i.fa.fa-square
				| Большая
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Очень большая
	.friends-filter-item
		.friends-filter__caption Тип
		.friends-filter-sex
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Низкая
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Средняя
			label.friends-filter__checkbox
				input(type="checkbox"  checked="checked").hidden
				i.fa.fa-square
				| Высокая
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Очень высокая
	.friends-filter-item
		.friends-filter__caption Производитель
		.friends-filter-sex
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Asus
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| HP
			label.friends-filter__checkbox
				input(type="checkbox"  checked="checked").hidden
				i.fa.fa-square
				| Bon Prix
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Mango`s
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				i.fa.fa-square
				| Lee
		a(href="#").ads-filter__link Показать все
			i.fa.fa-angle-down
	.friends-filter-item
		.friends-filter__caption Цвета
		.friends-filter-sex
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				span.filter-color__icon.filter-color__icon_red
				span.filter-color__span
					| Красный
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				span.filter-color__icon.filter-color__icon_pink
				span.filter-color__span
					| Розовый
			label.friends-filter__checkbox
				input(type="checkbox"  checked="checked").hidden
				span.filter-color__icon.filter-color__icon_orange
				span.filter-color__span
					| Оранжевый
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				span.filter-color__icon.filter-color__icon_light-brown
				span.filter-color__span
					| Светло коричневый
			label.friends-filter__checkbox
				input(type="checkbox" ).hidden
				span.filter-color__icon.filter-color__icon_dark-brown
				span.filter-color__span
					| Темно коричневый
		a(href="#").ads-filter__link Показать все
			i.fa.fa-angle-down
	.friends-filter-item
		.friends-filter__caption Выбор
		.friends-filter-sex
			label.friends-filter__checkbox
				input(type="radio" checked name="choose").hidden
				i.fa.fa-circle-o
				| Много
			label.friends-filter__checkbox
				input(type="radio" name="choose").hidden
				i.fa.fa-circle-o
				| Мало