.ads-region
	.ads-region-current
		.ads-region__caption Объявления:
		a(href="#").ads-region__link в Московской обл.
	.ads-region-choose
		.ads-region__caption выбрать:
		a(href="#").ads-region__link регион
		a(href="#").ads-region__link город
		a(href="#").ads-region__link  все