.ads-menu
	.ads-menu-category
		.ads-menu-category__caption Обучение
		.ads-menu-category-wrapper.ads-menu-category-wrapper_active
			a(href="#").ads-menu-category__link туры
			a(href="#").ads-menu-category__link экскурсии
			a(href="#").ads-menu-category__link.ads-menu-category__link_active поездки
			a(href="#").ads-menu-category__link попутчики
			a(href="#").ads-menu-category__link культура
			a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
				i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Путешествия, туризм
		.ads-menu-category-wrapper
			a(href="#").ads-menu-category__link туры
			a(href="#").ads-menu-category__link экскурсии
			a(href="#").ads-menu-category__link поездки
			a(href="#").ads-menu-category__link попутчики
			a(href="#").ads-menu-category__link культура
			a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
				i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Культура
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Театр
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Выыставки
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Бизнес
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Спорт
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Здоровье
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Творчество, ремесла
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Развлечения
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Клубы, кафе
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Конкурсы
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Квесты
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Игры
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Фестивали
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Праздники
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Для детей
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category
		.ads-menu-category__caption Распродажи, акции
		.ads-menu-category-wrapper
				a(href="#").ads-menu-category__link туры
				a(href="#").ads-menu-category__link экскурсии
				a(href="#").ads-menu-category__link поездки
				a(href="#").ads-menu-category__link попутчики
				a(href="#").ads-menu-category__link культура
				a(href="#").ads-menu-category__link.ads-menu-category__link_more еще
					i.fa.fa-angle-down
	.ads-menu-category__caption.ads-menu-category__caption_more Еще
		i.fa.fa-angle-down
	a(href="#" style="background-image: url(pictures/banner-left.jpg)").menu-ads
	.menu-bottom
		a.menu-bottom__link(href="#") Реклама
		a.menu-bottom__link(href="#")    Правила
		a.menu-bottom__link(href="#") Помощь
		a.menu-bottom__link(href="#") О ресурсе
		a.menu-bottom__link(href="#") Блог
		a.menu-bottom__link(href="#") Разработчикам
