.ads-list
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-1.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Продаю бизнес
			span.ads-list-item__price 280000
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-3.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Детская куртка
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-4.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-5.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Косметика Mac
			span.ads-list-item__price 280000
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Красота
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-6.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Детская куртка
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-1.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				|Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				|Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Продаю бизнес
			span.ads-list-item__price 280000
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-3.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Детская куртка
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-4.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-5.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Косметика Mac
			span.ads-list-item__price 280000
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Красота
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-6.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Детская куртка
			span.ads-list-item__price 1500
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			.ads-list-item__date
				i.fa.fa-clock-o
				| Сегодня 11:18