.interesting
	.interesting-wrapper
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-1.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-2.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-3.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-4.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-5.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
		a(href="#").interesting-item
			.interesting-item__image(style="background-image: url(pictures/interesting-6.jpg)")
			.interesting-item__text
				p Путин поручил снизить долги регионов
