.ads-actions
	.main-feed-tabs
		.main-feed-tabs__item Услуги, навыки
		.main-feed-tabs__item.main-feed-tabs__item_active Спрос на услуги
	.ads-actions-right
		.ads-actions-sort
			.ads-actions-sort__current Сортировать
				i.fa.fa-angle-down
			.group-manage-wrapper
				a(href="#").group-manage__item Сначала новые
				a(href="#").group-manage__item Сначала старые

		label.main-feed-search__label
			.fa.fa-search
			input.main-feed-search__input(type="text" placeholder="Поиск")
		.ads-actions__add Создать
	a(href="#" style="background-image:url(pictures/map-link-bg.jpg)").ads-actions__map-link
		span Посмотреть на карте