.aside-news
	.aside-news__caption Новое в группах
	.aside-news-wrapper
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__group Общество Ван Гога
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__group Общество Ван Гога
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__group Общество Ван Гога
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__group Общество Ван Гога
				.aside-news-item__comments
					i.fa.fa-comment-o
					|1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__group Общество Ван Гога
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
	a(href="#").aside-news__all Все темы