.events-list
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				| Керчь
		a(href="#" style="background-image:url(pictures/events-1.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				| 1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				| Участвую
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				| Керчь
		a(href="#" style="background-image:url(pictures/events-2.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				| 1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				| Участвую
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				| Керчь
		a(href="#" style="background-image:url(pictures/events-1.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				| 1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				| Участвую
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				| Керчь
		a(href="#" style="background-image:url(pictures/events-2.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				| 1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				| Участвую
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				|Керчь
		a(href="#" style="background-image:url(pictures/events-1.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				|1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				|Участвую
	.events-list-item
		.events-list-item-top
			a(href="#").events-list-item__name Технологии и наука Керчи
			a(href="#").events-list-item__place
				i.fa.fa-map-marker
				| Керчь
		a(href="#" style="background-image:url(pictures/events-2.jpg)").events-list-item__image
		.events-list-item__text
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		.events-list-item-bottom
			span.events-list-item__date
				i.fa.fa-calendar
				| 12 августа
			span.events-list-item__time
				i.fa.fa-clock-o
				| 1:13
			span.events-list-item__go-in
				i.fa.fa-slideshare
				| Участвую