.ads-actions
	.main-feed-tabs
		.main-feed-tabs__item Для меня
		.main-feed-tabs__item Всё
		.main-feed-tabs__item.main-feed-tabs__item_active У друзей  
		.main-feed-tabs__item В группах
	.ads-actions-right
		label.main-feed-search__label
			i.fa.fa-search
			input.main-feed-search__input(type="text" placeholder="Поиск")
		.ads-actions__add Создать
			i.fa.fa-angle-down
	a(href="#" style="background-image:url(pictures/map-link-bg.jpg)").ads-actions__map-link
		span Посмотреть на карте