//FORM-LOGIN START

form.form-login
	.form-login__caption Вход
	label.form-login__label
		input.form-login__input(type="email" name="email" placeholder="Ваша почта")
	label.form-login__label
		input.form-login__input(type="password" name="password" placeholder="Пароль ")
	.text-center
		button.form-login__button
			i.fa.fa-user-o
			|войти



//FORM-LOGIN END