//FRIENDS LIST START

.friends-list
	.main-feed-actions
		.main-feed-tabs
			.main-feed-tabs__item Мои друзья
			.main-feed-tabs__item.main-feed-tabs__item_active Друзья он-лайн
			.main-feed-tabs__item Заявки
			.main-feed-tabs__item Все
		.main-feed-search
			label.main-feed-search__label
				i.fa.fa-search
				input.main-feed-search__input(type="text" placeholder="Поиск")
	.friends-list-wrapper
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					|26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					|добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Сергей Иванов
			.friends-list-item__status.friends-list-item__status_offline 1 час назад
			.friends-list-item-actions
				a(href="#").friends-list-item__message Написать сообщение
				a(href="#").friends-list-item__activity
					i.fa.fa-bar-chart
					| 26
				a(href="#").friends-list-item__add
					i.fa.fa-user-plus
					| добавить

//FRIENDS LIST END