.group-caption
	.group-caption-left
		.group-info
			span.group-info__subject
				i.fa.fa-folder
				|Живопись
			span.group-info__activity
				i.fa.fa-bar-chart
				|22
			span.group-info__members
				i.fa.fa-users
				|772
	.group-caption-right
		.group-caption__name Клуб Ван Гога
		.group-caption__description
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм	жизни диктует свои условия и заставляет всех подстраиваться.  Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
