.group-users
	.group-users__caption Администраторы
		span.group-users__count 2
	.group-users-wrapper
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-1.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Федоров
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-2.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Пенкин
	.group-users__caption Участники
		span.group-users__count 1261
	.group-users-wrapper
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-3.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Криворогов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-4.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Шилов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-3.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Криворогов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-4.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Шилов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-3.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Криворогов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-4.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Шилов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-3.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Криворогов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-4.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Шилов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-3.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Андрей
				span Криворогов
		a(href="#").group-users-item
			span(style="background-image:url(pictures/user-4.jpg)").group-users-item__avatar
			span.group-users-item__name
				span Василий
				span Шилов
	a(href="#").new-users__show-all Показать всех
