.friends-list.groups-list
	.main-feed-actions
		.main-feed-tabs
			.main-feed-tabs__item Мои группы
			.main-feed-tabs__item Все
			.main-feed-tabs__item.main-feed-tabs__item_active Группы друзей
			.main-feed-tabs__item Управление
		.main-feed-search
			label.main-feed-search__label
				i.fa.fa-search
				input.main-feed-search__input(type="text" placeholder="Поиск")
			a(href="#").main-feed__create-group Создать группу
	.friends-list-wrapper
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-1.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-2.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-3.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772
		.friends-list-item
			a(href="#" style="background-image:url(pictures/user-4.jpg)").friends-list-item__avatar
			a(href="#").friends-list-item__name Клуб Ван Гога
			.friends-list-item__description Группа о творчестве великого гения
			.friends-list-item-actions
				.friends-list-item__groop-status Открытая группа
				.friends-list-item-bottom-group
					a(href="#").friends-list-item__activity
						i.fa.fa-bar-chart
						| 26
					a(href="#").friends-list-item__group-members
						i.fa.fa-users
						| 772