.group-nav
	.main-feed-tabs
		.main-feed-tabs__item.main-feed-tabs__item_active Новости
		.main-feed-tabs__item Информация
		.main-feed-tabs__item Фото
		.main-feed-tabs__item Видео
		.main-feed-tabs__item Аудио
		.main-feed-tabs__item Фаилы
		.main-feed-tabs__item Контакты
	.main-feed-search
		label.main-feed-search__label
			i.fa.fa-search
			input.main-feed-search__input(type="text" placeholder="Поиск")
		.group-manage
			.group-manage__button Управление группой
				i.fa.fa-angle-down
			.group-manage-wrapper
				a(href="#").group-manage__item Выйти из группы
				a(href="#").group-manage__item Пригласить друзей
				a(href="#").group-manage__item Добавить группу в закладки
				a(href="#").group-manage__item Управление группой
				a(href="#").group-manage__item Реклама группы
				a(href="#").group-manage__item Статистика группы