// Header start
header.header.header_grey
	.header-wrapper
		a(href="#" style="background-image: url(pictures/header__logo.png)").header__logo
		.header-user
			a.header-user__avatar(style="background-image: url(pictures/user-avatar.jpg)" href="#")
				span.header-user__notice
					i.fa.fa-bell
			a(href="#").header-user__name Александр
			a(href="#").header-user-points
				span.header-user-points__count 25
				span.header-user-points__span баллов
		form.header-search
			label.header-search__label
				i.fa.fa-search
				input(type="search" placeholder="Найти интерес" name="search").header-search__input
			button.header-search__button Найти

// Header 	END
