// Header start
header.header
	.header-wrapper
		a(href="#" style="background-image: url(pictures/header__logo.png)").header__logo
		.header-actions
			.header__login
				i.fa.fa-user-o
				|Вход
			.header__registration
				i.fa.fa-user-plus
				|Регистрация
		form.header-search
			label.header-search__label
				i.fa.fa-search
				input(type="search" placeholder="Найти интерес" name="search").header-search__input
			button.header-search__button Найти

// Header 	END
