.ads-list
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-1.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Криптовалюта
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-3.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Дети
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-4.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Ночью в интернете
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-5.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Mac косметика
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Древние книги
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Книги
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-1.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Криптовалюта
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-3.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Дети
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-4.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Ночью в интернете
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-5.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Mac косметика
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Древние книги
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Книги
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-1.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				|882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Криптовалюта
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				|Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-3.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Покраска авто
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Дети
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-4.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Ночью в интернете
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Бизнес
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-5.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Mac косметика
			span.ads-list-item__users
				i.fa.fa-users
				| 882
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Авто
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган
	.ads-list-item
		a(href="#" style="background-image:url(pictures/ads-2.jpg)").ads-list-item__image
		a(href="#").ads-list-item-middle
			span.ads-list-item__name Древние книги
			span.ads-list-item__users
				i.fa.fa-users
				| 411
		.ads-list-item-bottom
			a(href="#").ads-list-item__subject
				i.fa.fa-folder
				| Книги
			a(href="#").ads-list-item__person
				i.fa.fa-user-o
				| Александр Морган