.interest-nav
	a(href="#").interest-nav-back
		span(style="background-image:url(pictures/interest.jpg)").interest-nav-back__img
		span.interest-nav-back__text Вернуться
			br
			|к интересу
	.interest-nav-list
		a(href="#") Настройки
		a(href="#") Информация
		.interest-nav-list__inner
			a(href="#") Новости
			a(href="#") Фото
			a(href="#") Видео
			a(href="#") Аудио
			a(href="#") Фаилы
		a(href="#") Подписчики
		a(href="#") Сообщения