.interest-caption
	.interest-caption-left
		.interest-caption-counts
			span.interest-caption__users
				i.fa.fa-users
				|82
			span.interest-caption__likes
				i.fa.fa-thumbs-o-up
				|752
	.interest-caption-right
		.interest-caption-info
		.interest-caption-caption Покраска авто
			.interest-caption-info
				span.interest-caption__subject
					i.fa.fa-folder
					|Авто
				span.interest-caption__owner
					.fa.fa-user-o
					|Александр Морган
		.interest-caption__description
			p Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм 	жизни диктует свои условия и заставляет всех подстраиваться.  Эти дома построили за 2 часа, и простоят они целых 300 лет. Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.