.aside-news.interests-news
	.aside-news__caption Популярные интересы
	.aside-news-wrapper
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__subject
					i.fa.fa-folder
					|Авто
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__subject
					i.fa.fa-folder
					|Бизнес
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__subject
					i.fa.fa-folder
					|Интернет
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Семинар по Йоге пройдет в Москве. Методики Эффективного Развития
			.aside-news-item-bottom
				.aside-news-item__subject
					i.fa.fa-folder
					|Юмор
				.aside-news-item__comments
					i.fa.fa-comment-o
					|1230
		a(href="#").aside-news-item
			.aside-news-item__name Неизвестная картина
			.aside-news-item__description Сегодня пройдет VII Московский Международный Фестиваль Круг света
			.aside-news-item-bottom
				.aside-news-item__subject
					i.fa.fa-folder
					|Авто
				.aside-news-item__comments
					i.fa.fa-comment-o
					| 1230
	a(href="#").aside-news__all Все интересы