.menu
	.menu-list
		a(href="#").menu__link.menu__link_interest-subscribers
			span.menu__icon
			| Друзья
			span.menu__count 82
		a(href="#").menu__link.menu__link_interest-photo
			span.menu__icon
			| Фото
		a(href="#").menu__link.menu__link_interest-video
			span.menu__icon
			| Видео
		a(href="#").menu__link.menu__link_interest-audio
			span.menu__icon
			| Аудио
		a(href="#").menu__link.menu__link_interest-files
			span.menu__icon
			| Файлы