.interest-aside
	.interest-aside-item
		a(href="#").interest-aside__caption Подписчики
			span.interest-aside__count 82
		a(href="#").interest-aside-user
			span(style="background-image:url(pictures/user-1.jpg)").interest-aside__avatar
			span.interest-aside__name
				span Андрей
				span Криворогов
		a(href="#").interest-aside-user
			span(style="background-image:url(pictures/user-2.jpg)").interest-aside__avatar
			span.interest-aside__name
				span Василий
				span Шилов
		a(href="#").interest-aside-user
			span(style="background-image:url(pictures/user-3.jpg)").interest-aside__avatar
			span.interest-aside__name
				span Ольга
				span Щапова
		a(href="#").interest-aside-user
			span(style="background-image:url(pictures/user-4.jpg)").interest-aside__avatar
			span.interest-aside__name
				span Денис
				span Тихомиров
	.interest-aside-item
		a(href="#").interest-aside__caption Фото
			span.interest-aside__count 12
		a(href="#" style="background-image:url(pictures/photo-link.jpg)").interest-aside-photo-link
			span Джунгли
			span 33
	.interest-aside-item
		a(href="#").interest-aside__caption Видео
			span.interest-aside__count 12
		a(href="#" style="background-image:url(pictures/photo-link-1.jpg)").interest-aside-photo-link
			span Пути к звездам
			span 12
	.interest-aside-item
		a(href="#").interest-aside__caption Аудио
			span.interest-aside__count 17
		a(href="#").interest-aside-audio.clearfix
			span(style="background-image:url(pictures/audio-1.jpg)").interest-aside-audio__cover
			.interest-aside-audio-info
				span.interest-aside-audio__artist Goods Son
				span.interest-aside-audio__title Comming home
		a(href="#").interest-aside-audio.clearfix
			span(style="background-image:url(pictures/audio-2.jpg)").interest-aside-audio__cover
			.interest-aside-audio-info
				span.interest-aside-audio__artist Michael Buble
				span.interest-aside-audio__title To by loved
		a(href="#").interest-aside-audio.clearfix
			span(style="background-image:url(pictures/audio-3.jpg)").interest-aside-audio__cover
			.interest-aside-audio-info
				span.interest-aside-audio__artist Adele
				span.interest-aside-audio__title My mind is for
	.interest-aside-item
		a(href="#").interest-aside__caption Фаилы
			span.interest-aside__count 44
		a(href="#").interest-aside-doc
			span.interest-aside-doc__icon
			span.interest-aside-doc-info
				span.interest-aside-doc__type Документ
				span.interest-aside-doc__title Бизнес план
		a(href="#").interest-aside-doc.interest-aside-doc_word
			span.interest-aside-doc__icon
			span.interest-aside-doc-info
				span.interest-aside-doc__type Запись Word
				span.interest-aside-doc__title Мой реферат
		a(href="#").interest-aside-doc.interest-aside-doc_pdf
			span.interest-aside-doc__icon
			span.interest-aside-doc-info
				span.interest-aside-doc__type Док в PDF
				span.interest-aside-doc__title История