.interest-main
	.interest-main-actions
		.interest-main-actions-left
			a(href="#").interest-main__create
				i.fa.fa-plus
				|Создать
			a(href="#").interest-main__create-ads
				i.fa.fa-legal
				| Создать объявление
		a(href="#").interest-main__move Мои интересы
			i.fa.fa-angle-down
	.interest-main-wrapper
		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-1.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-2.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.

		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-1.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-2.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.

		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-1.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-2.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.

		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					|12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					|Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-1.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
		a(href="#").interest-main-item
			.interest-main-item__caption Покраска авто Porsche 911
				span.interest-main-item__count
					i.fa.fa-thumbs-o-up
					| 12
			.interest-main-item__info
				span
					i.fa.fa-clock-o
					| Авто
				span
					i.fa.fa-user-o
					| Александр Морган
			.interest-main-item__image(style="background-image:url(pictures/interest-item-2.jpg)")
			.interest-main-item__description
				p Эти дома построили за 2 часа, и простоят они целых 300 лет. 	Сегодняшний стремительный ритм жизни диктует свои условия и заставляет всех подстраиваться.
