//MENU START

.menu
	.menu-list
		a(href="#").menu__link.menu__link_users
			span.menu__icon
			|Пользователи
		a(href="#").menu__link.menu__link_friends
			span.menu__icon
			| Друзья
			span.menu__count 10
		a(href="#").menu__link.menu__link_messages
			span.menu__icon
			| Сообщения
		a(href="#").menu__link.menu__link_learn
			span.menu__icon
			| Обучение
		a(href="#").menu__link.menu__link_groups
			span.menu__icon
			| Группы
			span.menu__count 14
		a(href="#").menu__link.menu__link_board
			span.menu__icon
			| Доска объявлений
		a(href="#").menu__link.menu__link_photos
			span.menu__icon
			| Навыки
		a(href="#").menu__link.menu__link_videos
			span.menu__icon
			| Фото
		a(href="#").menu__link.menu__link_music
			span.menu__icon
			| Музыка
		a(href="#").menu__link.menu__link_games
			span.menu__icon
			| Игры
	a(href="#" style="background-image: url(pictures/banner-left.jpg)").menu-ads
	.menu-bottom
		a.menu-bottom__link(href="#") Реклама
		a.menu-bottom__link(href="#")    Правила
		a.menu-bottom__link(href="#") Помощь
		a.menu-bottom__link(href="#") О ресурсе
		a.menu-bottom__link(href="#") Блог
		a.menu-bottom__link(href="#") Разработчикам



//MENU END