//MENU START

.menu
	.menu-list
		a(href="#").menu__link.menu__link_users.menu__link_disabled
			span.menu__icon
			|Пользователи
		a(href="#").menu__link.menu__link_interests.menu__link_disabled
			span.menu__icon
			| Интересы
		a(href="#").menu__link.menu__link_groups.menu__link_disabled
			span.menu__icon
			| Группы
		a(href="#").menu__link.menu__link_events
			span.menu__icon
			| Мероприятия
		a(href="#").menu__link.menu__link_learn
			span.menu__icon
			| Обучение
		a(href="#").menu__link.menu__link_board
			span.menu__icon
			| Доска объявлений
		a(href="#").menu__link.menu__link_photos.menu__link_disabled
			span.menu__icon
			| Фото
		a(href="#").menu__link.menu__link_videos.menu__link_disabled
			span.menu__icon
			| Видео
		a(href="#").menu__link.menu__link_music.menu__link_disabled
			span.menu__icon
			| Музыка
		a(href="#").menu__link.menu__link_games.menu__link_disabled
			span.menu__icon
			| Игры
	a(href="#" style="background-image: url(pictures/banner-left.jpg)").menu-ads
	.menu-bottom
		a.menu-bottom__link(href="#") Реклама
		a.menu-bottom__link(href="#")    Правила
		a.menu-bottom__link(href="#") Помощь
		a.menu-bottom__link(href="#") О ресурсе
		a.menu-bottom__link(href="#") Блог
		a.menu-bottom__link(href="#") Разработчикам



//MENU END