// MY INTEREST- START

.my-interests
	.my-interests__caption Мои интересы
	.my-interest-wrapper
		a(href="#").my-interests-item Скандинавская ходьба
			span.my-interests-item__count 20
		a(href="#").my-interests-item Кулинария
			span.my-interests-item__count 10
		a(href="#").my-interests-item Фотография
			span.my-interests-item__count 7
		a(href="#").my-interests-item Авангардная поэзия
			span.my-interests-item__count 12
	a(href="#").my-interests__link Перейти в каталог




// MY INTEREST- END