//NEW USERS START

aside.new-users
	.new-users__caption Новые пользователи
	.users-wrapper
		.users-item
			a(href="#" style="background-image: url(pictures/new-friend-1.jpg)").users-item__avatar
			a(href="#").users-item__name
				span Алексей
				span Сергеев
			a(href="#").users-item__mutual-friends 15 общих друзей
			a(href="#").users-item__add + Добавить
		.users-item
			a(href="#" style="background-image: url(pictures/new-friend-2.jpg)").users-item__avatar
			a(href="#").users-item__name
				span Андрей
				span Криворогов
			a(href="#").users-item__mutual-friends 7 общих друзей
			a(href="#").users-item__add + Добавить
		.users-item
			a(href="#" style="background-image: url(pictures/new-friend-3.jpg)").users-item__avatar
			a(href="#").users-item__name
				span Василий
				span Шиповалов
			a(href="#").users-item__mutual-friends 3 общих друзей
			a(href="#").users-item__add + Добавить
		.users-item
			a(href="#" style="background-image: url(pictures/new-friend-4.jpg)").users-item__avatar
			a(href="#").users-item__name
				span Денис
				span Васильев
			a(href="#").users-item__mutual-friends 2 общих друзей
			a(href="#").users-item__add + Добавить
		.users-item
			a(href="#" style="background-image: url(pictures/new-friend-5.jpg)").users-item__avatar
			a(href="#").users-item__name
				span Иван
				span Филатов
			a(href="#").users-item__mutual-friends 5 общих друзей
			a(href="#").users-item__add + Добавить
	a(href="#").new-users__show-all Показать всех


//NEW USERS END