// USER MENU START

.user-menu
	a(href="#").user-menu-item
		.user-menu-item__count 72
		.user-menu-item__name Сообщения
	a(href="#").user-menu-item
		.user-menu-item__count 101
		.user-menu-item__name.user-menu-item__name_new Друзья
			span 12
	a(href="#").user-menu-item
		.user-menu-item__count 24
		.user-menu-item__name Интересы
	a(href="#").user-menu-item
		.user-menu-item__count 6
		.user-menu-item__name.user-menu-item__name_new Группы
			span 2
	a(href="#").user-menu-item
		.user-menu-item__count 4
		.user-menu-item__name Мероприятия
	a(href="#").user-menu-item
		.user-menu-item__count 85
		.user-menu-item__name Обучение
	a(href="#").user-menu-item
		.user-menu-item__count 22
		.user-menu-item__name Навыки
	a(href="#").user-menu-item
		.user-menu-item__count 171
		.user-menu-item__name Фото
	a(href="#").user-menu-item
		.user-menu-item__count 33
		.user-menu-item__name.user-menu-item__name_new Видео
			span 2
	a(href="#").user-menu-item
		.user-menu-item__count 9
		.user-menu-item__name Музыка
	a(href="#").user-menu-item
		.user-menu-item__count 7
		.user-menu-item__name Игры
	a(href="#").user-menu-item
		.user-menu-item__count 22
		.user-menu-item__name Сообщения


// USER MENU END