//USER INFO START

.user-info
	.user-info__name.user-info__name_online Александр Морган
	a(href="#").user-info__status изменить статус
	.user-info__avatar(style="background-image: url(pictures/avatar-1.jpg)")
	.user-info-actions
		a(href="#").user-info-actions__button Редактировать
	.user-info-general
		.user-info-general-item
			.user-info-general-item__key День рождения:
			a(href="#").user-info-general-item__value 25 февраля 1981 г.
		.user-info-general-item
			.user-info-general-item__key Город:
			a(href="#").user-info-general-item__value Москва
		.user-info-general-item
			.user-info-general-item__key Место работы:
			a(href="#").user-info-general-item__value General IT
		.user-info-general-item
			.user-info-general-item__key Веб-сайт:
			a(href="http://generalit.ru" target="_blank").user-info-general-item__value http://generalit.ru
	.user-info-secondary
		.user-info-general-item__key Желания, цели, мечты
		a(href="#").user-info-general-item__value Машина
		a(href="#").user-info-general-item__value Шуба
		a(href="#").user-info-general-item__value В Таиланд
	.user-info-secondary
		.user-info-general-item__key Увлечения, хобби:
		a(href="#").user-info-general-item__value Футбол
		a(href="#").user-info-general-item__value Рыбалка
		a(href="#").user-info-general-item__value Живопись
	.user-info-secondary
		.user-info-general-item__key Навыки, умения
		a(href="#").user-info-general-item__value Ремонт
		a(href="#").user-info-general-item__value Дизайн
		a(href="#").user-info-general-item__value Дайвинг
		a(href="#").user-info-general-item__value Туризм
		a(href="#").user-info-general-item__value Маркетинг
		a(href="#").user-info-general-item__value.user-info-general-item__value_more Еще
			i.fa.fa-angle-down
	.user-info-general
		.user-info-general-item
			.user-info-general-item__key Телефон:
			a(href="#").user-info-general-item__value +7 495 123456
		.user-info-general-item
			.user-info-general-item__key Viber:
			a(href="#").user-info-general-item__value 987654321
		.user-info-general-item
			.user-info-general-item__key Skype:
			a(href="#").user-info-general-item__value admin
		.user-info-general-item
			.user-info-general-item__key WhatsApp:
			a(href="#").user-info-general-item__value 987654321


//USER info -END