//WALL START

.main-feed
	.main-feed-add
		form.main-feed-form
			label.main-feed__label
				textarea.main-feed__textarea(placeholder="Что у вас нового?")
		.main-feed-buttons
			a(href="#").main-feed-buttons__item.main-feed-buttons__item_photo Фото
			a(href="#").main-feed-buttons__item.main-feed-buttons__item_video Видео
			a(href="#").main-feed-buttons__item.main-feed-buttons__item_music Музыка
			a(href="#").main-feed-buttons__item.main-feed-buttons__item_docs Документы
		.main-feed-send
			button.main-feed-send__button Отослать
	.main-feed-actions
		.main-feed-tabs
			.main-feed-tabs__item Мои новости
			.main-feed-tabs__item.main-feed-tabs__item_active Всё новости
			.main-feed-tabs__item В группах
		.main-feed-search
			label.main-feed-search__label
			.fa.fa-search
			input.main-feed-search__input(type="text" placeholder="Поиск")
	.main-feed-wrapper
		.main-feed-item
			.main-feed-caption.clearfix
				img.main-feed__avatar(src="pictures/user-avatar.jpg" alt="user")
				.main-feed__name Александр Морган
				.main-feed__date 12 авг в 1:13
				.main-feed-item__actions-button
					.main-feed-item-actions
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_stick Закрепить запись
							span.main-feed-item-actions__icon
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_delete Удалить запись
							span.main-feed-item-actions__icon
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_edit Редактировать запись
							span.main-feed-item-actions__icon
			.main-feed-content
				h3 Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aperiam atque aut corporis culpa
					br
					|deleniti dolor dolore dolorum ea eius enim esse excepturi facere in minima, minus molestias nam quia						quibusdam, rerum sed sint suscipit tempora unde ut voluptatum? A cumque doloribus error molestias officia						repudiandae sapiente sit vitae? Dignissimos doloribus ex fugiat nesciunt provident reiciendis rerum saepe						sequi?
			.main-feed-media
				a(href="#").main-feed-media__item
					img(src="pictures/content-1.jpg")
				a(href="#" style="background-image:url(pictures/content-2.jpg)").main-feed-media__item
				a(href="#" style="background-image:url(pictures/content-3.jpg)").main-feed-media__item
				a(href="#" style="background-image:url(pictures/content-4.jpg)").main-feed-media__item
				a(href="#" style="background-image:url(pictures/content-4.jpg)").main-feed-media__item
			.main-feed-bottom
				.main-feed-bottom__item.main-feed-bottom__item_comments Комментировать
					span 12
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5
				.main-feed-bottom__item.main-feed-bottom__item_share
					span 8
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5
				.main-feed-bottom__item.main-feed-bottom__item_like
					span 54
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5
		.main-feed-item
			.main-feed-caption.clearfix
				img.main-feed__avatar(src="pictures/user-avatar.jpg" alt="user")
				.main-feed__name Александр Морган
				.main-feed__date 12 авг в 1:13
				.main-feed-item__actions-button
					.main-feed-item-actions
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_stick Закрепить запись
							span.main-feed-item-actions__icon
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_delete Удалить запись
							span.main-feed-item-actions__icon
						a(href="#").main-feed-item-actions__item.main-feed-item-actions__item_edit Редактировать запись
							span.main-feed-item-actions__icon
			.main-feed-content
				h3 Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aperiam atque aut corporis culpa
					br
					| deleniti dolor dolore dolorum ea eius enim esse excepturi facere in minima, minus molestias nam quia						quibusdam, rerum sed sint suscipit tempora unde ut voluptatum? A cumque doloribus error molestias officia						repudiandae sapiente sit vitae? Dignissimos doloribus ex fugiat nesciunt provident reiciendis rerum saepe						sequi?
			.main-feed-media
				a(href="#").main-feed-media__item
					img(src="pictures/content-5.jpg")
			.main-feed-bottom
				.main-feed-bottom__item.main-feed-bottom__item_comments Комментировать
					span 12
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5
				.main-feed-bottom__item.main-feed-bottom__item_share
					span 8
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5
				.main-feed-bottom__item.main-feed-bottom__item_like
					span 54
					.main-feed-bottom-users-list
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item А
						a(href="#" style="background-image:url(pictures/user-avatar.jpg)").main-feed-bottom-users-list__item
						a(href="#").main-feed-bottom-users-list__item Р
						a(href="#").main-feed-bottom-users-list__item Л
						.main-feed-bottom-users-list__add +5

//WALL END