extends /layouts
block title
	| Объявления

block content
	include ../components/header-with-user
	.wrapper
		.left-block
			include ../components/ads_menu
		main.center-block
			include ../components/ads_region
			include ../components/ads_interesting
			include ../components/ads_actions
			include ../components/ads_list
		.right-block
			include ../components/ads_filters