extends /layouts
block title
	| Группы

block content
	include ../components/header-with-user
	.wrapper
		.left-block
			include ../components/menu-auth
		main.center-block
			include ../components/groups_list
		.right-block
			include ../components/aside_news
			include ../components/aside_popular