doctype html
html
	head
		meta(charset="utf-8")
		title навигация
	body
		ol
			li
				a(href="main-no-auth.html" target="_blank") главная без авторизации
			li
				a(href="main.html" target="_blank") главная
			li
				a(href="personal-page.html" target="_blank") пользователь - личная
			li
				a(href="friends.html" target="_blank") друзья
			li
				a(href="groups-list.html" target="_blank") группы
			li
				a(href="group.html" target="_blank") группа
			li
				a(href="ads.html" target="_blank") объявления
			li
				a(href="events.html" target="_blank") мероприятия
			li
				a(href="interests.html" target="_blank") интересы
			li
				a(href="interests_edit.html" target="_blank") Редактирование интереса