extends /layouts
block title
	| Интересы

block content
	include ../components/header_grey
	.wrapper
		.left-block
			include ../components/interest_menu
		main.center-block
			include ../components/interest_settings
		.right-block
			include ../components/interest_nav
