extends /layouts
block title
	| Интересы

block content
	include ../components/header
	.wrapper.wrapper-interest
		.interest-top
			include ../components/interest_caption
		.interest-left
			include ../components/interest_aside
		.interest-right
			include ../components/interest_main