extends /layouts
block title
	| Главная страница

block content
	include /components/header-with-user
	.wrapper
		.left-block
			include /components/my-interests
			include /components/menu-auth
		main.center-block
			include /components/interesting

		.right-block
			include /components/events-aside
			include /components/new-users