extends /layouts
block title
	| Александр Морган

block content
	include /components/header-with-user
	.wrapper
		.left-block
			include /components/user_page_info
		main.center-block
			include /components/user_menu
			include /components/user_feed
	.right-block
			include /components/possible-friends