@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-bold.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-bold.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300; }

body {
  font-family: Roboto, Arial, sans-serif;
  color: #333; }

label {
  font-weight: normal; }

* {
  outline: none; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }

.center-block {
  width: 780px;
  padding-left: 18px;
  padding-right: 18px;
  border-right: 1px solid #e3e3e3; }

.left-block {
  width: 206px;
  border-right: 1px solid #e3e3e3; }

.right-block {
  width: 206px; }

.main-forms {
  margin-left: -25px; }
  .main-forms-container {
    padding-left: 25px;
    width: 50%;
    float: left; }

.header {
  background-color: #263d8b; }
  .header-wrapper {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px; }
  .header-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-weight: 500; }
    .header-actions .fa {
      margin-right: 5px; }
  .header__login {
    margin-right: 14px;
    cursor: pointer; }
  .header__registration {
    cursor: pointer; }
  .header__logo {
    width: 225px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 20px center; }
  .header-search {
    position: absolute;
    height: 34px;
    right: 24px;
    top: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-search__input {
      border: none;
      height: 34px;
      width: 188px;
      padding-left: 38px;
      vertical-align: middle;
      font-weight: normal; }
    .header-search__button {
      height: 34px;
      background-color: #f3792e;
      color: #fff;
      border: none;
      width: 102px;
      font-weight: bold;
      font-size: 16px; }
    .header-search__label .fa {
      color: #9f9f9f;
      font-size: 18px;
      margin-right: -20px;
      position: relative;
      z-index: 10;
      top: 2px;
      left: 9px; }

.header-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-user__avatar {
    display: inline-block;
    width: 37px;
    height: 37px;
    position: relative;
    margin-right: 14px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .header-user__notice {
    color: #fff;
    position: absolute;
    top: -8px;
    right: -16px; }
  .header-user__name {
    margin-right: 9px;
    font-weight: 500;
    color: #fff;
    font-size: 15px; }
    .header-user__name:hover {
      color: #fff;
      text-decoration: none; }
  .header-user-points {
    line-height: 19px;
    height: 21px;
    background-color: #da8d44;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding-right: 7px; }
    .header-user-points:hover {
      text-decoration: none; }
    .header-user-points__count {
      position: relative;
      margin-right: 2px;
      display: inline-block;
      padding-left: 2px;
      padding-right: 2px;
      line-height: 19px;
      border: 1px solid #cd7828;
      background-color: #fff;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      text-align: center;
      min-width: 21px;
      font-size: 13px;
      color: #f3792e; }
    .header-user-points__span {
      color: #fff;
      font-weight: 500;
      font-size: 13px; }

.menu {
  padding: 15px 18px 15px 17px; }
  .menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .menu__link {
    line-height: 35px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    position: relative; }
    .menu__link:hover {
      background-color: #eee;
      color: #333;
      text-decoration: none; }
    .menu__link_disabled {
      color: #c4c4c4;
      cursor: default;
      pointer-events: none; }
  .menu__icon {
    width: 26px;
    display: inline-block;
    height: 22px;
    background-image: url(../img/menu-icons.png);
    background-position: -13px -4px;
    vertical-align: middle; }
  .menu__count {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 12px;
    color: #f3792e;
    background-color: #e3e3e3;
    line-height: 23px;
    min-width: 23px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-border-radius: 12px;
            border-radius: 12px; }

.menu__link_interests .menu__icon {
  background-position: -13px -39px; }

.menu__link_friends .menu__icon {
  background-position: -13px -39px; }

.menu__link_groups .menu__icon {
  background-position: -13px -108px; }

.menu__link_events .menu__icon {
  background-position: -13px -108px; }

.menu__link_learn .menu__icon {
  background-position: -13px -143px; }

.menu__link_photos .menu__icon {
  background-position: -13px -247px; }

.menu__link_videos .menu__icon {
  background-position: -13px -279px; }

.menu__link_music .menu__icon {
  background-position: -13px -315px; }

.menu__link_games .menu__icon {
  background-position: -13px -350px; }

.menu__link_board .menu__icon {
  background-position: -13px -178px; }

.menu__link_messages .menu__icon {
  background-position: -13px -74px; }

.menu-ads {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: contain; }

.menu-bottom {
  width: 170px; }
  .menu-bottom__link {
    color: #888888;
    font-size: 11px;
    display: inline-block;
    margin-right: 6px; }
    .menu-bottom__link:hover {
      color: #888; }
    .menu-bottom__link:last-child {
      margin-right: 0; }

.interesting {
  margin-bottom: 20px; }
  .interesting__caption {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #333333;
    font-size: 16px; }
  .interesting-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .interesting-item {
    width: 100px;
    color: #333;
    font-size: 13px; }
    .interesting-item:hover {
      text-decoration: none;
      color: #333; }
    .interesting-item__image {
      display: block;
      height: 100px;
      margin-bottom: 6px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.form-login {
  padding: 23px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 11px 14px 7px #e7e7e7;
          box-shadow: 0 11px 14px 7px #e7e7e7; }
  .form-login__caption {
    margin-bottom: 15px;
    font-size: 36px;
    color: #263d8b;
    font-weight: 500; }
  .form-login__label {
    display: block; }
  .form-login__input {
    margin-bottom: 22px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: inset 0 5px 5px 0 #e7e7e7;
            box-shadow: inset 0 5px 5px 0 #e7e7e7;
    border: none;
    font-weight: 300;
    font-size: 22px; }
  .form-login__button {
    padding-left: 65px;
    padding-right: 65px;
    color: #fff;
    background-color: #263d8b;
    font-size: 22px;
    font-family: "Myriad Pro", Roboto, Arial, sans-serif;
    line-height: 63px;
    border: none; }
    .form-login__button .fa {
      margin-right: 5px; }

.form-login__input_small-text {
  font-size: 19px; }

.registration-socials {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-left: 25px;
  padding-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  color: #959595;
  font-size: 16px; }
  .registration-socials__link {
    margin-right: 3px;
    display: inline-block;
    width: 27px;
    height: 26px;
    background: url(../img/sosials__links.png);
    background-position: -3px -1px; }
    .registration-socials__link_twitter {
      background-position: -32px -1px; }
    .registration-socials__link_vkontakte {
      background-position: -62px -1px; }
    .registration-socials__link_facebook {
      background-position: -92px -1px; }
    .registration-socials__link_yandex {
      background-position: -121px -1px; }
    .registration-socials__link:first-of-type {
      margin-left: 10px; }

.events-aside {
  border-bottom: 1px solid #e3e3e3; }
  .events-aside__caption {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px; }
  .events-aside-calendar {
    margin-left: 20px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 1px solid #efefef;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .events-aside-group {
    margin-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    border-bottom: 1px solid #e3e3e3; }
    .events-aside-group:last-child {
      border-bottom: none; }
  .events-aside__date {
    margin-bottom: 2px;
    display: block;
    font-weight: 500;
    color: #263d8b;
    line-height: 17.5px; }
    .events-aside__date:hover {
      color: #263d8b; }
  .events-aside__link {
    display: block;
    color: #888888;
    font-size: 12px;
    line-height: 17.5px; }
    .events-aside__link:hover {
      color: #888; }

.calendar__day {
  width: 14.27%;
  text-align: center;
  line-height: 26px;
  font-weight: 300;
  font-size: 9px;
  color: #333; }
  .calendar__day:hover {
    color: #333;
    text-decoration: none; }
  .calendar__day_other-month {
    opacity: .5; }
  .calendar__day_active {
    background-color: #f3792e;
    color: #fff;
    pointer-events: none; }
    .calendar__day_active:hover {
      color: #fff; }

.new-users__caption {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500; }

.new-users__show-all {
  display: block;
  line-height: 26px;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  border-bottom: 1px solid #e3e3e3;
  color: #888888; }
  .new-users__show-all:hover {
    text-decoration: none;
    color: #888888; }

.users-item {
  margin-top: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e3e3e3;
  padding-left: 20px; }
  .users-item::after {
    display: table;
    content: '';
    clear: both; }
  .users-item__avatar {
    margin-top: 3px;
    display: block;
    float: left;
    margin-right: 12px;
    width: 67px;
    height: 67px; }
  .users-item__name {
    display: block;
    font-weight: 500;
    line-height: 17.5px;
    color: #263d8b; }
    .users-item__name span {
      display: block; }
    .users-item__name:hover {
      text-decoration: none;
      color: #263d8b; }
  .users-item__mutual-friends {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 17.5px;
    color: #888888; }
    .users-item__mutual-friends:hover {
      color: #888;
      text-decoration: none; }
  .users-item__add {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.5px;
    color: #888; }
    .users-item__add:hover {
      color: #888;
      text-decoration: none; }

.my-interests {
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3; }
  .my-interests__caption {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 500; }
  .my-interests-item {
    display: block;
    padding-right: 20px;
    line-height: 26px;
    font-size: 13px;
    font-weight: 300;
    color: #333;
    position: relative; }
    .my-interests-item:hover {
      color: #333;
      background-color: #f0f0f0;
      text-decoration: none; }
    .my-interests-item__count {
      position: absolute;
      top: 0;
      right: 0;
      color: #f3792e; }
  .my-interests__link {
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
    color: #333;
    font-weight: 500;
    line-height: 26px;
    font-size: 13px; }
    .my-interests__link:hover {
      color: #333;
      text-decoration: none;
      background-color: #f0f0f0; }

/*# sourceMappingURL=maps/styles.css.map */
