.interests-news
	.aside-news-item-bottom
		justify-content: flex-start

.interests-create
	&-wrapper
		position: absolute
		z-index: 100
		top: 0
		right: 0
		width: 100vw
		height: 100vh
		display: flex
		justify-content: center
		align-items: center
		background-color: rgba(0,0,0,0.7)
	&-container
		width: 490px
		padding-left: 27px
		padding-right: 27px
		background-color: #fff
	&__title
		display: flex
		align-items: center
		height: 60px
		margin-left: -27px
		margin-right: -27px
		padding-left: 27px
		padding-right: 27px
		justify-content: space-between
		color: #fff
		font-size: 16px
		font-weight: 300
		background-color: $blue
		.fa-times
			margin-right: -10px
			padding: 10px
			cursor: pointer
	&__caption
		font-weight: 500
		margin-top: 25px
		margin-bottom: 15px
	&__label
		display: block
		position: relative
		&_select
			width: 327px
			margin-bottom: 22px
	&__input
		width: 100%
		height: 33px
		line-height: 31px
		font-weight: 500
		padding-left: 10px
		padding-right: 10px
		border: 1px solid #c9d0d6
		border-radius: 3px
	&__checkbox
		position: relative
		display: block
		margin-bottom: 16px
		padding-left: 27px
		font-weight: 500
		cursor: pointer
		.fa
			font-size: 18px
			position: absolute
			top: 1px
			left: 0
			color: #888
		span
			display: block
			font-size: 13px
			font-weight: 300
			color: #888
			line-height: 19px
		input:checked ~ .fa-circle-o::before
			content: '\f192'
			color: $blue
		input:checked ~ .fa-square::before
			color: $blue
			content: "\f14a"
	&-group
		margin-bottom: 20px
	&__select
		@extend .friends-filter__select
		width: 327px
		border-color: #c9d0d6
	&-bottom
		height: 60px
		margin-left: -27px
		margin-right: -27px
		padding-left: 27px
		padding-right: 27px
		padding-top: 14px
		border-top: 1px solid #e3e3e3
		line-height: 33px
		font-weight: 500
	&__cancel
		display: inline-block
		padding-left: 18px
		padding-right: 18px
		color: $blue
		vertical-align: middle
		&:hover,&:focus,&:visited
			text-decoration: none
			background-color: #f0f0f0
	&__submit
		display: inline-block
		padding-left: 34px
		padding-right: 34px
		background-color: $blue
		color: #fff
		&:hover,&:focus,&:visited
			text-decoration: none
			background-color: $dark-blue
			color: #fff

.menu__link
	&_interest-photo
		.menu__icon
			background-position: -13px -39px
	&_interest-video
		.menu__icon
			background-position: -13px -74px
	&_interest-audio
		.menu__icon
			background-position: -13px -108px
	&_interest-files
		.menu__icon
			background-position: -13px -143px

.interest-settings
	&__title
		margin-left: -18px
		margin-right: -18px
		padding-left: 18px
		height: 60px
		line-height: 59px
		font-weight: 500
		font-size: 16px
		border-bottom: 1px solid #e3e3e3
	&-group
		margin-top: 25px
		margin-bottom: 25px
	&-item
		display: flex
		margin-bottom: 18px
	&__span
		text-align: right
		width: 237px
		margin-right: 13px
		line-height: 32px
		font-weight: 500
		color: #888
	&__container
		line-height: 32px
		position: relative
		a
			color: $blue
			font-weight: 500
	&__dot
		display: inline-block
		color: $blue
		font-weight: 500
		margin-left: 4px
		margin-right: 4px
		position: relative
		top: -3px
	&__input
		@extend .interests-create__input
		width: 305px
		color: #888
	&__textarea
		@extend .interest-settings__input
		min-height: 73px
		resize: none
	&__select
		@extend .interest-settings__input
		display: block
		margin-bottom: 10px
	&-bottom
		margin-left: -18px
		margin-right: -18px
		padding-top: 20px
		border-top: 1px solid #e3e3e3
	&__save
		display: inline-block
		line-height: 32px
		background-color: $blue
		color: #fff
		font-weight: 500
		padding-left: 18px
		padding-right: 18px
		border-radius: 4px
		&:hover,&:focus
			background-color: $dark-blue
			color: #fff
			text-decoration: none

.interest-nav
	&-back
		height: 60px
		display: flex
		padding-left: 22px
		align-items: center
		border-bottom: 1px solid #e3e3e3
		&:hover,&:focus
			text-decoration: none
			background-color: #f0f0f0
		&__img
			height: 40px
			width: 40px
			margin-right: 10px
			background-position: center
			background-size: cover
		&__text
			font-size: 13px
			font-weight: 300
			color: #333
	&-list
		margin-top: 10px
		padding-bottom: 10px
		border-bottom: 1px solid #e3e3e3
		a
			display: block
			padding-left: 22px
			line-height: 37px
			font-weight: 500
			color: $blue
			&:hover,&:focus
				text-decoration: none
				background-color: #f0f0f0
		&__inner
			padding-left: 22px
			padding-right: 22px
			a
				display: block
				padding-left: 6px
				color: #888
				font-weight: 300