.interests-news
	.aside-news-item-bottom
		justify-content: flex-start

.interests-create
	&-wrapper
		position: absolute
		z-index: 100
		top: 0
		right: 0
		width: 100vw
		height: 100vh
		display: flex
		justify-content: center
		align-items: center
		background-color: rgba(0,0,0,0.7)
	&-container
		width: 490px
		padding-left: 27px
		padding-right: 27px
		background-color: #fff
	&__title
		display: flex
		align-items: center
		height: 60px
		margin-left: -27px
		margin-right: -27px
		padding-left: 27px
		padding-right: 27px
		justify-content: space-between
		color: #fff
		font-size: 16px
		font-weight: 300
		background-color: $blue
		.fa-times
			margin-right: -10px
			padding: 10px
			cursor: pointer
	&__caption
		font-weight: 500
		margin-top: 25px
		margin-bottom: 15px
	&__label
		display: block
		position: relative
		&_select
			width: 327px
			margin-bottom: 22px
	&__input
		width: 100%
		height: 33px
		line-height: 31px
		font-weight: 500
		padding-left: 10px
		padding-right: 10px
		border: 1px solid #c9d0d6
		border-radius: 3px
	&__checkbox
		position: relative
		display: block
		margin-bottom: 16px
		padding-left: 27px
		font-weight: 500
		cursor: pointer
		.fa
			font-size: 18px
			position: absolute
			top: 1px
			left: 0
			color: #888
		span
			display: block
			font-size: 13px
			font-weight: 300
			color: #888
			line-height: 19px
		input:checked ~ .fa-circle-o::before
			content: '\f192'
			color: $blue
		input:checked ~ .fa-square::before
			color: $blue
			content: "\f14a"
	&-group
		margin-bottom: 20px
	&__select
		@extend .friends-filter__select
		width: 327px
		border-color: #c9d0d6
	&-bottom
		height: 60px
		margin-left: -27px
		margin-right: -27px
		padding-left: 27px
		padding-right: 27px
		padding-top: 14px
		border-top: 1px solid #e3e3e3
		line-height: 33px
		font-weight: 500
	&__cancel
		display: inline-block
		padding-left: 18px
		padding-right: 18px
		color: $blue
		vertical-align: middle
		&:hover,&:focus,&:visited
			text-decoration: none
			background-color: #f0f0f0
	&__submit
		display: inline-block
		padding-left: 34px
		padding-right: 34px
		background-color: $blue
		color: #fff
		&:hover,&:focus,&:visited
			text-decoration: none
			background-color: $dark-blue
			color: #fff

.menu__link
	&_interest-photo
		.menu__icon
			background-position: -13px -39px
	&_interest-video
		.menu__icon
			background-position: -13px -74px
	&_interest-audio
		.menu__icon
			background-position: -13px -108px
	&_interest-files
		.menu__icon
			background-position: -13px -143px

.interest-settings
	&__title
		margin-left: -18px
		margin-right: -18px
		padding-left: 18px
		height: 60px
		line-height: 59px
		font-weight: 500
		font-size: 16px
		border-bottom: 1px solid #e3e3e3
	&-group
		margin-top: 25px
		margin-bottom: 25px
	&-item
		display: flex
		margin-bottom: 18px
	&__span
		text-align: right
		width: 237px
		margin-right: 13px
		line-height: 32px
		font-weight: 500
		color: #888
	&__container
		line-height: 32px
		position: relative
		a
			color: $blue
			font-weight: 500
	&__dot
		display: inline-block
		color: $blue
		font-weight: 500
		margin-left: 4px
		margin-right: 4px
		position: relative
		top: -3px
	&__input
		@extend .interests-create__input
		width: 305px
		color: #888
	&__textarea
		@extend .interest-settings__input
		min-height: 73px
		resize: none
	&__select
		@extend .interest-settings__input
		display: block
		margin-bottom: 10px
	&-bottom
		margin-left: -18px
		margin-right: -18px
		padding-top: 20px
		border-top: 1px solid #e3e3e3
	&__save
		display: inline-block
		line-height: 32px
		background-color: $blue
		color: #fff
		font-weight: 500
		padding-left: 18px
		padding-right: 18px
		border-radius: 4px
		&:hover,&:focus
			background-color: $dark-blue
			color: #fff
			text-decoration: none

.interest-nav
	&-back
		height: 60px
		display: flex
		padding-left: 22px
		align-items: center
		border-bottom: 1px solid #e3e3e3
		&:hover,&:focus
			text-decoration: none
			background-color: #f0f0f0
		&__img
			height: 40px
			width: 40px
			margin-right: 10px
			background-position: center
			background-size: cover
		&__text
			font-size: 13px
			font-weight: 300
			color: #333
	&-list
		margin-top: 10px
		padding-bottom: 10px
		border-bottom: 1px solid #e3e3e3
		a
			display: block
			padding-left: 22px
			line-height: 37px
			font-weight: 500
			color: $blue
			&:hover,&:focus
				text-decoration: none
				background-color: #f0f0f0
		&__inner
			padding-left: 22px
			padding-right: 22px
			a
				display: block
				padding-left: 6px
				color: #888
				font-weight: 300

.interest
	&-top
		width: 100%
	&-left
		width: 206px
		border-right: 1px solid #e3e3e3
	&-right
		width: 984px

.wrapper-interest
	flex-wrap: wrap

.interest-caption
	display: flex
	background: url(../../img/cover-group.jpg) 0 center #cacaca no-repeat
	-webkit-background-size: contain
	background-size: contain
	min-height: 200px
	&-left
		width: 360px
		padding: 13px 23px
		flex-shrink: 0
	&-counts
		font-size: 18px
		color: $orange
		font-weight: 300
		.fa
			margin-right: 4px
			margin-left: 4px
	&-caption
		margin-top: 14px
		margin-bottom: 20px
		align-items: center
		display: flex
		padding-right: 26px
		justify-content: space-between
		font-size: 18px
		font-weight: 500
	&-info
		font-weight: 300
		font-size: 13px
		color: #888
		.fa
			margin-left: 4px
			margin-right: 4px
	&__description
		padding-right: 160px
		font-size: 15px
		line-height: 24px

.interest-aside
	padding-top: 10px
	&-item
		display: flex
		flex-wrap: wrap
		padding: 15px 22px 5px 25px
		border-bottom:  1px solid #e3e3e3
	&__caption
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 15px
		font-weight: 500
		font-size: 16px
		color: #333
		&:focus,&:hover
			text-decoration: none
			color: #333
	&__count
		height: 22px
		flex-shrink: 0
		padding-left: 4px
		padding-right: 4px
		min-width: 22px
		border-radius: 22px
		background-color: #e3e3e3
		line-height: 22px
		text-align: center
		color: $orange
		font-size: 12px
	&-user
		display: block
		width: calc(50% + 10px)
		margin-bottom: 14px
		text-align: center
		&:hover,&:focus
			text-decoration: none
		&:nth-child(2n)
			margin-left: -10px
		&:nth-child(2n-1)
			margin-right: -10px
	&__avatar
		display: inline-block
		width: 68px
		height: 68px
		background-position: center
		-webkit-background-size: cover
		background-size: cover
	&__name
		display: block
		line-height: 17.5px
		span
			display: block
			color: $blue
			font-weight: 500
	&-photo-link
		display: flex
		width: 100%
		justify-content: space-between
		align-items: flex-end
		height: 100px
		margin-bottom: 10px
		background-position: center
		background-size: cover
		padding-left: 5px
		padding-right: 5px
		padding-bottom: 5px
		color: #e3e3e3
		font-weight: 500
		font-size: 13px
	&-audio
		display: flex
		align-items: center
		margin-bottom: 14px
		&:hover,&:focus
			text-decoration: none
			background-color: #f0f0f0
		&__cover
			display: block
			float: left
			width: 50px
			height: 50px
			flex-shrink: 0
			margin-right: 10px
		span
			color: #333
			display: block
			white-space: nowrap
		&__artist
			font-size: 16px
			font-weight: 500
	&-doc
		display: flex
		color: #333
		margin-bottom: 15px
		align-items: center
		&_word .interest-aside-doc__icon::before
			content: "\f1c2"
		&_pdf .interest-aside-doc__icon::before
			content: "\f1c1"
		&:hover,&:focus
			text-decoration: none
			color: #333
		&__icon
			width: 57px
			font-size: 36px
			flex-shrink: 0
			&::before
				font-family: "FontAwesome"
				content: "\f15c"
		&-info
			span
				display: block
		&__type
			font-size: 16px
			font-weight: 500

.interest-main
	&-actions
		display: flex
		height: 70px
		justify-content: space-between
		align-items: center
		padding-left: 28px
		padding-right: 28px
		background-color: #f0f0f0
		border-bottom: 1px solid #e3e3e3
		a
			color: #333
			text-decoration: none
			font-weight: 300
		.fa
			margin-right: 4px
		&-left
			a
				display: inline-block
				margin-right: 28px
				padding-left: 10px
				padding-right: 10px
				line-height: 25px
				background-color: #e8e8e8
	&__move
		.fa
			margin-left: 4px
	&-wrapper
		display: flex
		flex-wrap: wrap
	&-item
		display: block
		padding-top: 20px
		padding-bottom: 5px
		width: 50%
		border-bottom: 1px solid #e3e3e3
		&:hover,&:focus
			text-decoration: none
		&:nth-child(2n-1)
			padding-left: 19px
			padding-right: 16px
		&:nth-child(2n)
			padding-left: 16px
			padding-right: 19px
		&__caption
			display: flex
			justify-content: space-between
			align-items: center
			font-size: 18px
			font-weight: 500
			color: #333
		&__count
			font-weight: 300
			color: $orange
			font-family: "Myriad Pro"
			.fa
				margin-right: 5px
		&__info
			margin-top: 5px
			margin-bottom: 6px
			font-size: 13px
			color: #888
		&__image
			height: 300px
			margin-bottom: 10px
			background-size: cover
		&__description
			color: #333
			font-size: 15px
			font-weight: 300
			line-height: 24px